/* CSS Document */
@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&display=swap");
:root {
  --color1: #e13f45;
  --color2:#333333;
  --color3:#808080;
  --colorok:#31da70;
  --colorerror:#ff6d6d;
  --whitecolor:#fff;
  --colorlink:#409ff5;
  --spacing:30px;
}

body {
  font-family: "Montserrat", Roboto, sans-serif;
  font-size: 14px;
  font-weight: 400;
  background: url("../images/pattern-bg.jpg") repeat top center;
}

* {
  outline: none;
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

a {
  text-decoration: none;
  transition: all 0.3s ease-in-out;
}

button {
  transition: all 0.7s ease-in-out !important;
}

a:hover {
  text-decoration: none;
}

main {
  position: relative;
  height: 100vh;
}

.formlogin {
  background: #fff;
  border-radius: 5px;
  position: relative;
  margin-top: 5%;
  display: flex;
  flex-direction: column;
  padding: calc(var(--spacing) + 2px) calc(var(--spacing) * 1.5) calc(var(--spacing) * 1.5);
}
.formlogin .logo-login {
  width: 100px;
  height: 30px;
  -o-object-fit: cover;
     object-fit: cover;
  display: block;
  margin: 0 auto;
}
.formlogin h4.title-login {
  text-align: center;
  color: var(--color3);
  text-transform: uppercase;
  margin: 38px 0 25px;
}
.formlogin h4.thanhcong {
  color: var(--colorok);
}
.formlogin .formmain button.dangnhap {
  width: 100%;
  background-color: var(--color1);
  border: none;
  text-transform: uppercase;
  padding: 0.6rem 0;
  font-size: 18px;
  transition: all 0.3s ease-in-out;
}
.formlogin .formmain button.dangnhap:hover {
  filter: brightness(105%);
}
.formlogin .formmain button.facebook {
  background-color: #3b5998;
}
.formlogin .formmain button.google {
  background-color: #e76150;
}
.formlogin .formmain button.huy {
  background-color: var(--color3);
}
.formlogin .formmain .blockbot {
  display: flex;
  justify-content: space-between;
}
.formlogin .formmain .blockbot a {
  color: var(--color2);
}
.formlogin .formmain .blockbot a:hover {
  color: var(--colorlink);
}
.formlogin .formmain .blockbot a.btn-dangnhap {
  font-weight: 500;
  color: var(--colorlink);
}
.formlogin .formmain .blockbot a.btn-dangnhap:hover {
  text-decoration: underline;
}
.formlogin .formmain .input-group {
  color: var(--color3);
}
.formlogin .formmain .input-group i.fa {
  position: absolute;
  left: 17px;
  z-index: 5;
  top: 12px;
  font-size: 1rem;
}
.formlogin .formmain .input-group input.form-control {
  font-size: 14px;
  padding: 0.575rem 0.75rem;
  padding-left: 30px;
  border-radius: 5px !important;
}
.formlogin .formmain .checkcheck {
  color: var(--color2);
  align-items: center;
}
.formlogin .formmain .checkcheck .form-check-input {
  margin-right: 5px;
  border-radius: 0.25em !important;
  margin-top: 0;
}
.formlogin .formmain .checkcheck a {
  color: var(--colorlink);
  transition: all 0.3s ease-in-out;
}
.formlogin .formmain .checkcheck a:hover {
  text-decoration: underline;
}
.formlogin .formmain .form-label1 {
  margin-bottom: 0;
}
.formlogin .formmain span i {
  margin-right: 5px;
  color: var(--colorlink);
}
.formlogin .formmain span strong {
  color: var(--color1);
}
.formlogin .formmain .maotp a {
  color: var(--colorlink);
}
.formlogin .formmain .pass .form-control.is-valid, .formlogin .formmain .was-validated .pass .form-control:valid {
  background-position: right calc(.375em + .1875rem + 1.5rem) center;
}
.formlogin i.bi {
  position: absolute;
  right: 20px;
  top: 8px;
  z-index: 5;
  cursor: pointer;
}

footer {
  width: 100%;
  display: flex;
  text-align: center;
  position: fixed;
  background: var(--whitecolor);
  margin-top: 2rem;
  bottom: 0;
}
footer .mainfooter {
  position: relative;
  bottom: 0;
  padding: 30px 0;
}
footer .mainfooter img {
  width: 100px;
  height: 30px;
  -o-object-fit: cover;
     object-fit: cover;
  margin-bottom: 25px;
}
footer .mainfooter p {
  line-height: 1.6;
}

.nofixed {
  position: relative !important;
}

.dangky .formlogin {
  margin-top: 5%;
}
.dksd .logo-login {
  width: 126px;
  height: 58px;
  -o-object-fit: cover;
     object-fit: cover;
  display: block;
  margin: 2rem auto 1rem;
}
.dksd h4.title-login {
  text-align: center;
  color: var(--color2);
  text-transform: uppercase;
  margin: 38px 0 25px;
}
.dksd h4.thanhcong {
  color: var(--colorok);
}
.dksd footer {
  position: fixed;
  padding-top: 0;
  display: flex;
  flex-direction: column;
  margin-top: 70px;
}
.dksd footer .menufooter {
  background-color: #e6e6e6;
  width: 100%;
  padding: 0.5rem 0;
  margin-bottom: 1rem;
}
.dksd footer .menufooter ul {
  list-style: none;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 0;
  padding: 0;
}
.dksd footer .menufooter ul li {
  margin: 0 0.5rem;
}
.dksd footer .menufooter ul li a {
  color: var(--color2);
}
.dksd footer .menufooter ul li a:hover {
  color: var(--colorlink);
}

@media (max-width: 1024px) {
  /*	footer{position: relative;}*/
}
@media (max-width: 540px) {
  .formlogin {
    background: transparent;
  }

  footer {
    margin-top: 70px;
    font-size: 12px;
  }

  :root {
    --spacing:15px;
  }
}
@media (max-width: 320px) {
  footer {
    position: relative;
    margin-top: 70px;
    font-size: 12px;
  }
}/*# sourceMappingURL=mainlogin.css.map */